    <div class="credits text-center">
        <p>
            <a href="http://www.kgtricks.com">Interview Management app by KGTricks</a>
        </p>
        <p>
            <a href="http://www.kunalganglani.com">Kunalganglani.com</a>
        </p>
    </div>
</body>
</html>